
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="jumbotron">
        esta vaina esta bien
    </div>

</div>

<div class="row">
    <div class="col-md-6 " style="background-color: blue; color: white; ">
        blue
    </div>
    <div class="col-md-6 " style="background-color: red; color: white; ">
        red
    </div>
</div>

